{if !$no_content}
	<p>Found {$storyCount} stories in {$loadTime}ms</p>
	<table class="ow_table_1 ow_stdmargin">
	<tbody>
		<tr class="ow_tr_first">
			<th class="ow_label">Title</th>
			<th class="ow_label">Author</th>
			<th class="ow_label">Description</th>
			<th class="ow_label">Published</th>
		</tr>
		
		{foreach from=$stories item=story}
		{cycle assign='sty' values='#d9d9d9, white'}
		<tr style="background-color: {$sty};">
			<td style="border-bottom-color: {$sty}; color: black; vertical-align: top;" width="192"><p><a style="font-size: 16pt; color: black; line-height: 22px;" href="/stories/view/{$story.id}">{$story.title}</a></p></td>
			<td style="border-bottom-color: {$sty}; color: black; vertical-align: top;" width="1"><p><a style="font-size: 12pt; color: black;" href="/stories/viewlist/author/{$story.authorId}">{$story.authorName}</a></p></td>
			<td style="border-bottom-color: {$sty}; color: black; vertical-align: top;" width="350"><p style="font-size: 12pt">{$story.description}</p></td>
			<td style="border-bottom-color: {$sty}; color: black; vertical-align: top;" width="1"><p style="font-size: 12pt">{format_date timestamp=$story.publicationDate}</p></td>
		</tr>
		<tr style="background-color: {$sty};">
			<td colspan="4" style="border-top-color: {$sty}; color: black; font-size: 10pt;">
				Tags: 
				{foreach from=$story.tags item=tag}
				{if !$tag@first} | {/if}<a style="font-size: 10pt" href="/stories/viewlist/tag/{$tag.scode}">{$tag.name}</a>
				{/foreach}
				
			</td>
		</tr>
		{/foreach}
	</tbody>
	</table>

{else}
	<div class="ow_nocontent">{$no_content}</div>
{/if}