<div>
	{form name='add_category'}
		<table class="ow_table_1 ow_form ow_automargin" style="width: 100%">
			<tr>
				<td colspan="3"><h2>Add a new story tag</h2></td>
			</tr>
			<tr class="ow_alt1">
				<td class="ow_value" width="128">{input name='shortCode'}</td>
				<td class="ow_value" width="256">{input name='category'}</td>
				<td class="ow_value">{input name='description'}</td>
			</tr>
			<tr class="ow_center">
				<td colspan="3">{submit name='submit' class='ow_button ow_ic_save'}</td>
			</tr>
		</table>
	{/form}
	
	<table class="ow_table_1 ow_automargin" style="width: 100%">
		<tr>
			<td colspan="4"><h2>Current Tags</h2></td>
		</tr>
		<tr>
			<td class="ow_label">Delete</td>
			<td class="ow_label">Shortcode</td>
			<td class="ow_label">Label</td>
			<td class="ow_label">Description</td>
		</tr>
		{foreach from=$categories item=category}
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td width="1">
				<a href="{$deleteUrls[$category.name]}" onclick="return confirm('{text key="base+are_you_sure"}');"  style="width:16px; height:16px; display:block; margin:0 auto;background-repeat:no-repeat;background-position: 50% 50%;" class="ow_ic_delete"></a>
			</td>
			<td>{$category.scode}</td>
			<td>{$category.categoryName}</td>
			<td>{$category.description}</td>
		</tr>
		{/foreach}
	</table>
</div>


