{form name='edit_story_form'}
<table class="ow_table_1 ow_form ow_automargin">
	<tr class="ow_alt1">
		<td class="ow_label">Title</td>
		<td class="ow_value">{$storyTitle}</td>
		<td class="ow_desc ow_small"></td>
	</tr>
	<tr class="ow_alt1">
		<td class="ow_label">{label name='story_description'}</td>
		<td class="ow_value">{input name='story_description'}</td>
		<td class="ow_desc ow_small">{desc name='story_description'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='categories'}</td>
		<td class="ow_value">{input name='categories'}</td>
		<td class="ow_desc ow_small">{desc name='categories'}</td>
	</tr>
	
	{if $moderatorMode}
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file_html'}</td>
		<td class="ow_value">{input name='story_file_html'}</td>
		<td class="ow_desc ow_small">{desc name='story_file_html'}</td>
	</tr>
	{/if}
	
</table>

<div class="clearfix ow_stdmargin">
	<div class="ow_right">
		{submit name='submitStoryEdit'}
	</div>
</div>
{/form}