{if $showAddButton}
	<div class="ow_right">{decorator name='button' langLabel='stories+add_new' id='btn-add-new-story' class='ow_ic_add btn_add_story'}</div>

	{script}{literal}
		$('#btn-add-new-story').click(function(){location.href='{/literal}{url_for_route for="stories-submit"}{literal}'})
	{/literal}{/script}
{/if}

{$storiesMenu}

{if isset($tag)}

	{add_content key='stories.content.list.after_menu' listType=$listType tag=$tag}

	{component class='STORIES_CMP_StoryList' type=$listType tag=$tag}

	{add_content key='stories.content.list.bottom' listType=$listType tag=$tag}

{else}
	<h2>Click a tag to find all stories that carry that tag</h2><br>
	<table class="ow_table_1 ow_stdmargin">
		<tr class="ow_tr_first">
			<th>Code</th>
			<th>Label</th>
			<th>Description</th>
		</tr>
		{foreach from=$tagList item=tagI}
		{cycle assign='sty' values='#d9d9d9, white'}
			<tr style="background-color: {$sty};">
				<td width="1"><p><a style="font-size: 15px; color: black;" href="/stories/viewlist/tag/{$tagI.scode}">{$tagI.scode}</a></p></td>
				<td width="256"><p><a style="font-size: 18px; color: black;" href="/stories/viewlist/tag/{$tagI.scode}">{$tagI.name}</a></p></td>
				<td><p style="">{$tagI.description}</p></td>
			</tr>
		{/foreach}
	</table>
{/if}