<div class="ow_ipc_content">
	<table class="ow_table_1 ow_stdmargin">
		<tbody style="font-family: arial; background-color: #white; color: black;">
			<tr class="ow_tr_first" style="height: 40px;">
				<td colspan="2" class="ow_label"><p style="font-size: 32px; text-align: center; color: black; font-family: arial;">{$storyTitle}</p></td>
			</tr>
			<tr>
				<td colspan="2">Published by: {$ownerName} {format_date timestamp=$datePubblished}</td>
			</tr>
			<tr>
				<td colspan="2">Author: <a href="/stories/viewList/author/{$authorId}">{$authorName}</a></td>
			</tr>
			<tr>
				<td colspan="1">{$storyDescription}</td>
				{if $moderatorMode || $ownerMode}<td rowspan="2" width="1">[<a href="/stories/edit/{$storyId}">EDIT</a>]</td>{/if}
			</tr>
			<tr>
				<td>Tags: 
					{foreach from=$tags item=tag}
					{if !$tag@first} | {/if}<a href="/stories/viewlist/tag/{$tag.scode}">{$tag.name}</a> 
					{/foreach}
				</td>
			</tr>
			{if $hasDownload}
			<tr>
				<td colspan="2">
					<p>You can download this story in these formats:<br>
						{if isset($docxFile)}
							<a href="{$docxFile}">Ms Word (.docx)</a> 
						{else}
								
						{/if}
							
						{if isset($odtFile)}
							| <a href="{$odtFile}">OpenDocument Format (.odt)</a> 
						{else}
							
						{/if}
						
						{if isset($rtfFile)}
							| <a href="{$rtfFile}">Rich Text (.rtf)</a> 
						{else}
							
						{/if}
						
						{if isset($pdfFile)}
							| <a href="{$pdfFile}">PDF (.pdf)</a> 
						{else}
							
						{/if}
						
						{if isset($epubFile)}
							| <a href="{$epubFile}">E-Book (.epub)</a>
						{else}
							
						{/if}
					 </p>
					
				</td>
			</tr>
			{/if}
			{if $moderatorMode}
			<tr>
				<td><p style="text-align: right">Moderator Options:</p></td>
				<td colspan="1"><p style="text-align: right">[<a center; href="/stories/feature/{$storyId}">Feature</a>] [<a center; href="/stories/delete/{$storyId}">Delete</a>]</p></td>
			</tr>
			{else if $ownerMode}
			<tr>
				<td><p style="text-align: right">Owner Options:</p></td>
				<td colspan="1">[<a center; href="/stories/delete/{$storyId}">Delete</a>]</p></td>
			</tr>
			{/if}
			<tr>
				<td colspan="2"><p style="text-align: center">[<a center; href="#comments">Go to comments</a>]</p></td>
			</tr>
		</tbody>
	</table>
	
	<div style="background: #1a1a1a; height: 10px; padding: 5px; margin-left: -16px; margin-right: -16px;"></div>
	
	<div style="background: #1a1a1a; margin-left: -16px; margin-right: -16px;">
		<div style="font-size: 12pt; color: black; width: 900px; margin-left: auto; margin-right: auto; background: white; padding: 32px; line-height: 20px;">{$storyHtml}</div>
	</div>
	
	<div style="background: #1a1a1a; height: 10px; padding: 5px; margin-left: -16px; margin-right: -16px;"></div>
	
	<p style="text-align: center; padding-top: 15px;"><a center;" href="#top">[Go to top]</a></p>
	<a NAME="comments"></a>
	{$comments}
</div>