{form name='delete_story_form'}
<table class="ow_table_1 ow_form ow_automargin">
	<tr class="ow_alt1">
		<td class="ow_label">Title</td>
		<td class="ow_value">{$storyTitle}</td>
	</tr>
	<tr class="ow_alt1">
		<td class="ow_label">{label name='confirm_del'}</td>
		<td class="ow_value">{input name='confirm_del'}</td>
	</tr>
	
</table>

<div class="clearfix ow_stdmargin">
	<div class="ow_right">
		{submit name='submitStoryEdit'}
	</div>
</div>
{/form}