{if $showAddButton}
	<div class="ow_right">{decorator name='button' langLabel='stories+add_new' id='btn-add-new-story' class='ow_ic_add btn_add_story'}</div>

	{script}{literal}
		$('#btn-add-new-story').click(function(){location.href='{/literal}{url_for_route for="stories-submit"}{literal}'})
	{/literal}{/script}
{/if}

{$storiesMenu}

{if isset($author)}

	{add_content key='stories.content.list.after_menu' listType=$listType author=$author}

	{component class='STORIES_CMP_StoryList' type=$listType author=$author}

	{add_content key='stories.content.list.bottom' listType=$listType author=$author}

{else}
	<p>
	{foreach from=$authorList item=authorI}
		[ <a style="font-size: 15px;" href="/stories/viewlist/author/{$authorI.id}">{$authorI.name}</a> ]
	{/foreach}
	</p>
{/if}