<p>{text key="stories+submit_form_desc"}</p>
{form name='submit_story_form'}
<table class="ow_table_1 ow_form ow_automargin">
	<tr class="ow_alt1">
		<td class="ow_label">{label name='story_title'}</td>
		<td class="ow_value">{input name='story_title'}</td>
		<td class="ow_desc ow_small">{desc name='story_title'}</td>
	</tr>
	<tr class="ow_alt1">
		<td class="ow_label">{label name='story_description'}</td>
		<td class="ow_value">{input name='story_description'}</td>
		<td class="ow_desc ow_small">{desc name='story_description'}</td>
	</tr>
	<tr class="ow_alt1">
		<td class="ow_label">{label name='author_name'}</td>
		<td class="ow_value">{input name='author_name'}</td>
		<td class="ow_desc ow_small">{desc name='author_name'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='categories'}</td>
		<td class="ow_value">{input name='categories'}</td>
		<td class="ow_desc ow_small">{desc name='categories'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file'}</td>
		<td class="ow_value">{input name='story_file'}</td>
		<td class="ow_desc ow_small">{desc name='story_file'}</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align: center">Optional Files</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file_docx'}</td>
		<td class="ow_value">{input name='story_file_docx'}</td>
		<td class="ow_desc ow_small">{desc name='story_file_docx'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file_odt'}</td>
		<td class="ow_value">{input name='story_file_odt'}</td>
		<td class="ow_desc ow_small">{desc name='story_file_odt'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file_rtf'}</td>
		<td class="ow_value">{input name='story_file_rtf'}</td>
		<td class="ow_desc ow_small">{desc name='story_file_rtf'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file_pdf'}</td>
		<td class="ow_value">{input name='story_file_pdf'}</td>
		<td class="ow_desc ow_small">{desc name='story_file_pdf'}</td>
	</tr>
	<tr class="ow_alt2">
		<td class="ow_label">{label name='story_file_epub'}</td>
		<td class="ow_value">{input name='story_file_epub'}</td>
		<td class="ow_desc ow_small">{desc name='story_file_epub'}</td>
	</tr>
</table>

<div class="clearfix ow_stdmargin">
	<div class="ow_right">
		{submit name='submitStory'}
	</div>
</div>
{/form}
